@charset "UTF-8";


header
{
	background-image:url('../images/topbarbg.jpg');
	background-position: bottom;
	background-position: center;
	height: 150px;
	width: 960px;

}

p 
{
font-family: 'Bitter', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;
}
